In [1]:
import pandas as pd

In [11]:
df = pd.read_excel('cpv_2008_ver_2013.xlsx')
df = df[['CODE', 'EN']]
df.columns = ['codecpv', 'description']

In [17]:
df.sample(5)

       codecpv                                description
5147  42113170                           Rotary equipment
2623  32551000  Telephone cables and associated equipment
2539  32344260              Radio and multiplex equipment
7753  60183000                   Hire of vans with driver
646   15332296                             Strawberry jam

## Number of rows

In [12]:
df.shape[0]

9454

## Number of nulls

In [13]:
df.isnull().sum(axis=0)/df.shape[0]

codecpv        0.0
description    0.0
dtype: float64

## Unique values

In [14]:
df['codecpv'].value_counts()[:5]

45233222-1    1
72212930-7    1
44315310-7    1
39820000-6    1
30172000-5    1
Name: codecpv, dtype: int64

codecpv is unique

In [16]:
# Truncate the string to the 8-digit codes
df['codecpv']=df['codecpv'].str.replace('-', '').str[:8]
df.to_csv('cpv_2008_ver_2013.csv', index=False, sep='|', encoding=False)